.back,
.square {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.back {
    background-color: lightgray;
    width: 100vw;
    height: 100vh;
}

.square {
    width: 516px;
    height: 614px;
    background-color: white;
    border-radius: 50px;
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.email {
box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 10px;
gap: 8px;
width: 300px;
height: 46px;
background: #FAFCFD;
border: 1px solid #D8DEEB;
border-radius: 6px;
flex: none;
order: 0;
flex-grow: 0;
margin-bottom: 16;
}

.buttonsContainer {
    width: 300px; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 1px;
    border-radius: 6px;
    margin-bottom: 16px;
    background-color: lightgray;
}
.button2 {
    padding: 12px 0;
    border: unset;
    background-color: transparent;
    border-radius: 6px;
}

.continue {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 14px;
    width: 300px;
    height: 46px;
    background: #107edc;
    border-radius: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.hz {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.forgotPassword {
    width: 300px;
    height: 14px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #0073cd;
    margin-top: 2px;
}

.forgotPasswordLink {
    text-decoration: none;
    color: inherit;
}
.selectedButton {
    padding: 12px 0;
    border: unset;
    background-color: transparent;
    box-shadow: 1px 3px 8px rgba(54, 94, 125, 0.15);
    background-color: white;
    color: black;
    border-radius: 6px;
    transition: background-color 0.3s, box-shadow 0.3s; 
}